p {
	font-family: "Verdana", "Geneva", sans-serif;
	font-size: 25px;
	font-weight: bold;
	line-height: 37.5px;
	letter-spacing: 5px;
	margin: 25px;
}

.font1 {
	font-family: 'Zilla Slab Highlight', cursive;
	font-size: 50px;
	line-height: 75px;
}

.font2 {
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	line-height: 15px;
	letter-spacing: 25px;
}

.font3 {
	font-family: 'Oldenburg', cursive;
	margin: 75px;
}